
// Typography :root 16px
$font-family-primary: 'Poppins', serif;
$font-family-secondary: 'Poppins', serif;
$font-size-large: 0.975rem; //14px
$font-size-small: 0.85rem; //12px

//Global Colors
$body-background:#f5f9fc;
$text-color:#1e1e2d;

//Button Colors
$btnPrimaryBGColor: #c02a90;
$btnCancelBGColor:#ff914d;
$btnMainBGColor: #c02a90;

//Color Variables
$primaryTextColor: #1e1e2d;
$primaryBGColor: #f5f9fc;
$primaryTextActiveColor: #c02a90;
$primaryTextHoverColor: #c02a90;
$primary:#c02a90;
$secondary:#ff914d;
$pink:#ec82ef;
$teal:#2bcbba;
$cyan:#17a2b8;
$purple:#aa4cf2;
$success:#38cb89;
$warning:#ffab00;
$danger:#ef4b4b;
$info:#5b7fff;
$orange:#fc7303;
$dark:#343a40;
$indigo:#6574cd;
$gray:#868e96;
$white:#fff;
$black:#000;
$green: #008c00;


//Border Color
$border:#ebecf1;

//Shadow Variables
$card-shadow: 0 4px 6px -1px rgba(0,0,0,0.1),0 2px 4px -1px rgba(0,0,0,0.06);
$special-shadow: 0 1px 3px 0 rgb(50 50 50 / 20%), 0 2px 1px -1px rgb(50 50 50 / 12%), 0 1px 1px 0 rgb(50 50 50 / 14%);
